<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/interaction_button.css}">
    <!-- scripts -->
    <script defer th:src="@{/javascript/register.js}"></script>
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

</head>
<body>
<div class="d-flex m-5 align-content-center justify-content-center">
    <div>
        <h3>Register new Account</h3>

        <div>
            <label for="firstname" class="form-label">First Name</label>
            <input
                    id="firstname"
                    type="text"
                    name="firstname"
                    placeholder="first name"
                    class="form-control"
            />
            <div id="firstname_error" class="text-danger small"></div>
        </div>
        <div>
            <label for="lastname" class="form-label">Last Name</label>
            <input
                    id="lastname"
                    type="text"
                    name="lastname"
                    placeholder="Last name"
                    class="form-control"
            />
            <div id="lastname_error" class="text-danger small"></div>
        </div>
        <div>
            <label for="id_number" class="form-label">ID-Number</label>
            <input
                    id="id_number"
                    type="text"
                    name="id_number"
                    placeholder="Identification Number"
                    class="form-control"
            />
            <div id="identificationNumber_error" class="text-danger small"></div>
        </div>
        <div>
            <label for="email" class="form-label">@Email</label>
            <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="form-control"
            />
            <div id="email_error" class="text-danger small"></div>
        </div>
        <div>
            <label for="phonenumber" class="form-label">Phone</label>
            <input
                    id="phonenumber"
                    type="text"
                    name="phonenumber"
                    placeholder="Phone Number"
                    class="form-control"
            />
            <div id="phoneNumber_error" class="text-danger small"></div>
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                    class="form-control"
            />
            <div id="password_error" class="text-danger small"></div>
            <p id="result_message" class="text-danger small"></p>

        </div>
            <button onclick="registerCustomer()" class="ms-auto rounded-3 shadow interaction-button">Register Account</button>
    </div>
</div>
</body>
</html>