<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/reservation.css}" rel="stylesheet"/>
    <!-- scripts -->
    <script defer th:src="@{/vendor/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/javascript/reservation.js}"></script>
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>
</head>


<body class="bg-light">
<div class="container mt-5">
    <div class="card p-3 border-0 shadow-sm">
        <div class="row align-items-end g-2">
            <div class="col-md-3">
                <label class="form-label">Check In</label>
                <input type="date" id="checkIn" class="form-control">
            </div>
            <div class="col-md-3">
                <label class="form-label">Check Out</label>
                <input type="date" id="checkOut" class="form-control">
            </div>
            <div class="col-md-3">
                <label class="form-label">Guests</label>
                <input type="number" id="guests" class="form-control" min="1" max="10" value="2">
            </div>
            <div class="col-md-3 get-available-rooms">
                <button onclick="getAvailableRooms()" class="btn btn-dark"> Get Available Rooms </button>
            </div>
        </div>
    </div>

    <div id="roomsGrid"></div>

    <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
        <div id="confirmationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Confirmation</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="confirmationMessage" class="toast-body">
            </div>
        </div>
    </div>

</div>


</body>
</html>